img{
    width: 350px;
    height: 250px;
}

/* tablet */
@media (max-width: 1024px) {
  h1{
    font-size: 40px !important;
  }
}

/* mobile */
@media (max-width: 576px) {
  h1{
    font-size: 30px !important;
  }
}